*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 90%;
  margin: 1em auto;
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.hp-card-deck {
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
@media screen and (min-width: 768px) {
  .hp-card-deck {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card * {
  margin: 0;
  padding: 0;
}
.card figure {
  border-radius: 0.75em;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.card figure img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}
.card figure figcaption {
  position: absolute;
  bottom: 0.2em;
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  height: 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
  -webkit-transition: height 0.25s linear;
  transition: height 0.25s linear;
}
.card a {
  text-decoration: none;
}
.card span {
  display: block;
  text-align: center;
}
.card span:first-of-type {
  font-weight: bold;
}
.card:hover figure img, .card:focus figure img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.card:hover figure figcaption, .card:focus figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0.25em;
}